.bg-color {
    background-color: #003973 !important;
}

.bg-color-dark {
    background-color: #002240 !important;
}

.text-color {
    color: #003973;
}
a.brand-logo {
    width: 100px!important;
    height: auto!important;
}
